.title {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;}
.Agencja {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 453px;
    top: 32px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
}
.Portfolio{
position: absolute;
width: 58px;
height: 16px;
left: 552px;
top: 32px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;

}
.Kontakt{
position: absolute;
width: 51px;
height: 16px;
left: 656px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}
.Mail{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
}
.Telefon{
    position: absolute;
width: 110px;
height: 16px;
left: 1263px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.header{
    position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;
}
.rozwiazania{
position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF
}
.button{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.zamow{
    position: absolute;
width: 117px;
height: 30px;
left: 742px;
top: 440px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}
.lorem1{
position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.ipsum1{
    position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.lorem2{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121; 
}
.ipsum2{
    position: absolute;
width: 270px;
height: 75px;
left: 515px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.lorem3{
    position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.ipsum3{
    position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}
.lorem4{
    position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 774px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.ipsum4{
    position: absolute;
width: 270px;
height: 75px;
left: 1115px;
top: 800px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.zajecie{
position: absolute;
width: 352px;
height: 42px;
left: 624px;
top: 969px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.deskop{
    position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1061px;

background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}
.mobile{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);    
}
.design{
    position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1061px;

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.zespol{
position: absolute;
width: 210px;
height: 42px;
left: 695px;
top: 1543px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.igor{
    position: absolute;
width: 270px;
height: 260px;
left: 215px;
top: 1635px;

background: url(4853.jpg);
border-radius: 0px;
}
.olga{
    position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1635px;

background: url(5844.jpg);
border-radius: 0px;
}
.nikolaj{
    position: absolute;
width: 270px;
height: 260px;
left: 815px;
top: 1635px;

background: url(16166.jpg);
border-radius: 0px;
}
.michael{
    position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1635px;

background: url(2968.jpg);
border-radius: 0px;
}
.product{
    position: absolute;
width: 72px;
height: 19px;
left: 314px;
top: 1925px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.frontend{
    position: absolute;
width: 72px;
height: 19px;
left: 614px;
top: 1925px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.marketing{
    position: absolute;
    width: 72px;
    height: 19px;
    left: 914px;
    top: 1925px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;    
}
.UI{
    position: absolute;
    width: 72px;
    height: 19px;
    left: 1214px;
    top: 1925px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;   
}
.ds{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 285px;
    top: 1954px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;    
}
.dv{
    position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1954px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.mk{
    position: absolute;
    width: 76px;
    height: 19px;
    left: 912px;
    top: 1954px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;   
}
.UIDS{
    position: absolute;
    width: 87px;
    height: 19px;
    left: 1207px;
    top: 1954px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;   
}
.logo{
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2157px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #2196F3;
}
.WWA{
    position: absolute;
    width: 246px;
    height: 21px;
    left: 215px;
    top: 2208px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;   
}
.mail{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2238px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);    
}
.tel{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2268px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);    
}
.foot{ position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    
    background: #2F303A;}